.container-profile{
border: 2px solid black;
padding: 0px;
display: flex;
justify-content:flex-start;
align-items: center;
flex-direction: row;
column-gap: 2%;
background-color: aqua;
width: 80%;
height: 15%;
}

.info{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: 90%;
    column-gap: 5%;
    /* border: 2px solid black; */
}
.address-profile-low{
    width:15%;
    height: 50%;
}
.address-profile{
    width:30%;
    height: 50%;
}
.btn-profile{
    width: 5%;
    height: 40%;
    font-size: 100%;
    border-radius: 50%;
}
.profile-pic {
    width: 50%; /* Make the image stretch to fill the container */
    height: 50%; /* Stretch the image to fill the container */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image fills the container without distortion */
    display:flex;
  }